.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-center-container {
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  margin: 10rem 0 5rem 0;
}

.main-center-container-sm {
  justify-content: center;
  align-items: center;
  margin: 5px 0 0 0;
}

.page-link {
  text-decoration: none !important;
  margin-bottom: 50px;
}


.role-selection {
 justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap; 
  justify-content: space-evenly;
}

.app-name {
  font-size: 5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.wallet-container {
  display: flex;
  justify-content: center;
}

.dashboard-header{
  width: 100%;
  background-color: #5d9ba0;
  color: white;
}

.user-profile-table th,td{
  text-align: left;
}

TableHead {
  background-color: #5d9ba0 !important;
}