.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-center-container {
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  margin: 10rem 0 5rem 0;
}

.main-center-container-sm {
  justify-content: center;
  align-items: center;
  margin: 5px 0 0 0;
}

.page-link {
  text-decoration: none !important;
  margin-bottom: 50px;
}


.role-selection {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap; 
  justify-content: space-evenly;
}

.app-name {
  font-size: 5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.wallet-container {
  display: flex;
  justify-content: center;
}

.dashboard-header{
  width: 100%;
  background-color: #5d9ba0;
  color: white;
}

.user-profile-table th,td{
  text-align: left;
}

TableHead {
  background-color: #5d9ba0 !important;
}


.doc-dashboard {
  background-color: #FFFFFF;
  margin: 0px;
  height: 100%;
}

.doc-dashboard-title{
  padding: 20px;
  color: white;
  font-size: 3rem;
  font-weight: 400;
  margin: 0px;
}

.doc-dashboard-body-row1{
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.doc-dashboard-body-row1-col1,.doc-dashboard-body-row1-col2,.doc-dashboard-body-row1-col3{
  /* height: 250px; */
  width: 30%;
  background-color: #191c24;
  border-radius: 10px;
}

.doctor-welcome {
  color: #08d259;
  font-weight: 300;
}

.doc-info-label {
  color: white;
  font-weight: 500;
}

.doctor-info {
  color: #8b807e;
  text-align: left;
  padding-left: 50px;
}

.data-table {
  padding: 2%;
}

.doctor-actions{
  color: white;
}

.search-patient {
  width: 90%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoNeJzJdqGD_fqnfD3Mx8nkIfzr23GRQ4uv1siNhcN4oBAAer-pIgBmn83hE4pJrlK_Vg&usqp=CAU');
  background-position: 10px 10px; 
  background-size: 22px 22px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.load-patient{
  margin-top: 10px !important;
}

.detail-patient{
  width: 90%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  margin-top: 10px !important;
  margin-bottom: 20px;
}

.patient-content, .vaccination-info{
  color: #8b807e;
  text-align: left;
  padding-left: 10%;  
}

.create-record{
  padding-bottom: 10%;
}

.chart-body{
  padding: 5% !important;
  background-color: #191c24;
}

.legend{
  color: white;
  font-weight: 500;
  font-size: 1rem;
  /* uppercase text */
  text-transform: uppercase; 
  /* line spacing */
  letter-spacing: .1em;
  text-align: left;
  padding-left: 10%;
}

.approved {
  color:#9ccc65 ;
}

.pending {
  color: #42a5f5;
}

.rejected {
  color: #ff7043;
}

.website-link{
  color: wheat;
}

.black-color {
  color: #000000;
}
.white-color {
  color: #FFFFFF;
}
.peach-color {
  color: #FF4C29;
}

.main-center-container-default {
  justify-content: center;
  align-items: center;
  margin: 10rem 0 5rem 0;
}

/* texts */
.primary-text {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
}
.secondary-text {
  font-size: 20px;
  font-weight: 900;
}
.text-bold {
  font-weight: 900;
}

/* cards */
.black-card {
  background-color: #0F1511;
  width: 700px;
  margin: auto;
  border-radius: 25px;
}

.light-black-card {
  background-color: #232323;
  margin: auto;
  min-height: 62vh;
  border-radius: 25px;
}

.light-black-card-md {
  background-color: #232323;
  margin: auto;
  min-height: 84vh;
  border-radius: 25px;
}

.button-primary {
  background-color: #F9FAF5;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  color: #000 !important;
}
.button-primary:hover {
  text-decoration: none !important;
  background-color: #FF4C29;
  transition-duration: 0.6s;
}
.button-secondary {
  cursor: pointer !important;
  background: #000000;
  border: none;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 25px;
  min-width: 100px;
  height: 42px !important;
  padding: 9px 20px 9px 20px !important;
}
.button-secondary:hover {
  background: #FF4C29;
  color: #000000;
  transition-duration: 0.6s;
}

.button-secondary-reverse {
  cursor: pointer !important;
  background: #FF4C29;
  border: none;
  text-transform: uppercase;
  color: #000000;
  border-radius: 25px;
  min-width: 100px;
  height: 35px !important;
  padding: 5px 10x 5px 10px !important;
}
.button-secondary-reverse:hover {
  background: #000000;
  color: #FFFFFF;
  transition-duration: 0.6s;
}

a:hover {
  text-decoration: none;
}

.inline-flex-default {
  display: inline-flex;
}

.margin-bg {
  margin: 0 190px 0 190px;
}

/* two columns */
.box-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.main-box {
  position: relative;
}

/* wallet styles */

.wallet-container {
  display: flex;
  justify-content: center;
}
.wallet-adapter-button-trigger {
  background: #000000 !important;
  color: #FFF;
  border-radius: 25px !important;
  padding: 9px 20px 9px 20px !important;
  display: flex !important;
  font-family: 'Sora', sans-serif !important;
  font-size: initial;
  font-weight: inherit !important;
  height: inherit !important;
  line-height: inherit !important;
  text-transform: uppercase;
}
.wallet-adapter-button:hover {
  background: #FF4C29 !important;
  transition-duration: 0.6s;
}

/* modal */
.modal-background {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgb(224, 224, 224);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-container {
  width: 600px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.modal-body {
  height: 55vh;
  overflow-y: scroll;
}

/* position */
.primary-container {
  display: flex;
}

a:hover {
  text-decoration: none !important;
  color: #000000 !important;
  transition-duration: 0.6s;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  background-color: beige !important;
}

.back-btn {
  width: 10px;
  margin: auto;
  margin-bottom: 1%;
}